<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upc.fib.pes_infovid19">
    <!-- storage permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.main.EditTestTypeActivity"></activity>
        <activity android:name=".ui.main.CreateTestTypeActivity" />
        <activity android:name=".ui.main.ManageTestTypeActivity" />
        <activity android:name=".ui.main.EditMythActivity" />
        <activity android:name=".ui.main.CreateMythActivity" />
        <activity android:name=".ui.main.ManageMythsActivity" />
        <activity android:name=".SigninActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ui.main.TestTypeActivity" />
        <activity android:name=".ui.main.RiskPopulationActivity" />
        <activity android:name=".ui.main.RiskPreventionActivity" />
        <activity android:name=".ResultInfectionProbabilityTestActivity" />
        <activity android:name=".ResultVulnerableTestActivity" />
        <activity android:name=".ErteActivity" />
        <activity android:name=".ui.main.ChatActivity" />
        <activity android:name=".ui.main.UserProfileActivity" />
        <activity android:name=".InfectionProbabilityTestActivity" />
        <activity android:name=".ui.main.HospitalCenterActivity" />
        <activity android:name=".ui.main.MythsActivity" />
        <activity
            android:name=".VulnerableTestActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.HealthMenuActivity"
            android:exported="true" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>