<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upc.fib.pes_infovid19">
    <!-- storage permission -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.EditRiskPopulationActivity"></activity>
        <activity android:name=".ui.CreateRiskPopulationActivity" />
        <activity android:name=".ui.ManageRiskPopulationActivity" />
        <activity android:name=".ui.EditPreventionActivity" />
        <activity android:name=".ui.EditRiskPreventionActivity" />
        <activity android:name=".ui.CreatePreventionActivity" />
        <activity android:name=".ui.CreateRiskPreventionActivity" />
        <activity android:name=".ui.ManageRiskPreventionActivity" />
        <activity android:name=".ui.EditTestTypeActivity" />
        <activity android:name=".ui.CreateTestTypeActivity" />
        <activity android:name=".ui.ManageTestTypeActivity" />
        <activity android:name=".ui.EditMythActivity" />
        <activity android:name=".ui.CreateMythActivity" />
        <activity android:name=".ui.ManageMythsActivity" />
        <activity android:name=".ui.SigninActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.TestTypeActivity" />
        <activity android:name=".ui.RiskPopulationActivity" />
        <activity android:name=".ui.RiskPreventionActivity" />
        <activity android:name=".ui.ResultInfectionProbabilityTestActivity" />
        <activity android:name=".ui.ResultVulnerableTestActivity" />
        <activity android:name=".ui.ErteActivity" />
        <activity android:name=".ui.ChatActivity" />
        <activity android:name=".ui.UserProfileActivity" />
        <activity android:name=".ui.InfectionProbabilityTestActivity" />
        <activity android:name=".ui.HospitalCenterActivity" />
        <activity android:name=".ui.MythsActivity" />
        <activity
            android:name=".ui.VulnerableTestActivity"
            android:exported="true" />
        <activity
            android:name=".ui.HealthMenuActivity"
            android:exported="true" />
        <activity android:name=".ui.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>