<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.upc.fib.pes_infovid19">
    <!-- storage permission -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity android:name=".ui.main.activity.user.ModifyPermissionsActivity" />
        <activity android:name=".ui.main.activity.user.AdminMainActivity" />
        <activity android:name=".ui.main.activity.user.CreateNewAdminActivity" />
        <activity android:name=".ui.main.activity.health.tests.ManageQuestionsVulnerabilityTestActivity" />
        <activity android:name=".ui.main.activity.health.tests.ManageQuestionsProbabilityTestActivity" />
        <activity android:name=".ui.main.activity.health.information.EditRiskPopulationActivity" />
        <activity android:name=".ui.main.activity.social.ChatListActivity" />
        <activity android:name=".ui.main.activity.health.information.CreateRiskPopulationActivity" />
        <activity android:name=".ui.main.activity.health.information.ManageRiskPopulationActivity" />
        <activity android:name=".ui.main.activity.health.information.EditPreventionActivity" />
        <activity android:name=".ui.main.activity.health.information.EditRiskPreventionActivity" />
        <activity android:name=".ui.main.activity.health.information.CreatePreventionActivity" />
        <activity android:name=".ui.main.activity.health.information.CreateRiskPreventionActivity" />
        <activity android:name=".ui.main.activity.health.information.ManageRiskPreventionActivity" />
        <activity android:name=".ui.main.activity.health.information.EditTestTypeActivity" />
        <activity android:name=".ui.main.activity.health.information.CreateTestTypeActivity" />
        <activity android:name=".ui.main.activity.health.information.ManageTestTypeActivity" />
        <activity android:name=".ui.main.activity.health.information.EditMythActivity" />
        <activity android:name=".ui.main.activity.health.information.CreateMythActivity" />
        <activity android:name=".ui.main.activity.health.information.ManageMythsActivity" />
        <activity android:name=".ui.main.activity.user.SigninActivity" />
        <activity android:name=".ui.main.activity.MainActivity" />
        <activity android:name=".ui.main.activity.health.information.TestTypeActivity" />
        <activity android:name=".ui.main.activity.health.information.RiskPopulationActivity" />
        <activity android:name=".ui.main.activity.health.information.RiskPreventionActivity" />
        <activity android:name=".ui.main.activity.health.tests.ResultInfectionProbabilityTestActivity" />
        <activity android:name=".ui.main.activity.health.tests.ResultVulnerableTestActivity" />
        <activity android:name=".ui.main.activity.economic.ErteActivity" />
        <activity android:name=".ui.main.activity.social.ChatActivity" />
        <activity android:name=".ui.main.activity.user.UserProfileActivity" />
        <activity android:name=".ui.main.activity.health.tests.InfectionProbabilityTestActivity" />
        <activity android:name=".ui.main.activity.health.hospitalcenter.HospitalCenterActivity" />
        <activity android:name=".ui.main.activity.health.hospitalcenter.CenterActivity" />
        <activity android:name=".ui.main.activity.health.information.MythsActivity" />
        <activity android:name=".ui.main.activity.user.ChangePasswordActivity" />
        <activity
            android:name=".ui.main.activity.health.tests.VulnerableTestActivity"
            android:exported="true" />
        <activity
            android:name=".ui.main.activity.health.HealthMenuActivity"
            android:exported="true" />
        <activity android:name=".ui.main.activity.user.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>